

<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Margin</h4>
           
            </div>
            <div class="row">
                  <div class="col-md-9 "></div>
                  <form class="navbar-form col-md-3 ">
                          <div class="input-group no-border">
                              <input type="text" value="" class="form-control" placeholder="Search...">
                              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                  <i class="material-icons">search</i>
                                  <div class="ripple-container"></div>
                              </button>
                          </div>
                      </form>
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                         Type
                                      </th>
                                      <th>
                                         Percentage
                                      </th>
                                      <th>
                                         Days in Advance
                                      </th>
                                      <th>
                                          Margin on the rate
                                      </th>
                                      <th>
                                          Tax
                                       </th>
                                       <th>
                                           Credit Card Fee
                                       </th>
                                  </thead>
                                  <tbody>
                                      <tr class="marginRow" >
                                                <td>
                                                   1
                                                </td>
                                                <td>
                                                   Percentage
                                                </td>
                                                <td>
                                                   2%
                                                </td>
                                                <td>
                                                   30 Days
                                                </td>
                                                <td>
                                                   20%
                                                </td>
                                                <td>
                                                    $3.00
                                                </td>
                                                <td>
                                                    $2.00
                                                 </td>
                                                
                                  
                                      </tr>
                                      <tr class="marginRow">
                                            <td>
                                              2
                                            </td>
                                             <td>
                                                Flat
                                             </td>
                                             <td>
                                                1%
                                             </td>
                                             <td>
                                                50 Days
                                             </td>
                                             <td>
                                                20%
                                             </td>
                                             <td>
                                                 $3.00
                                             </td>
                                             <td>
                                                 $2.00
                                              </td>
                                  </tr>
                                  <tr class="marginRow">
                                        <td>
                                            3
                                        </td>
                                      
                                         <td>
                                            Percentage
                                         </td>
                                         <td>
                                            3%
                                         </td>
                                         <td>
                                            20 Days
                                         </td>
                                         <td>
                                            20%
                                         </td>
                                         <td>
                                             $3.00
                                         </td>
                                         <td>
                                             $2.00
                                          </td>
                          
                              </tr>
                              <tr class="marginRow">
                                    <td>
                                       4
                                    </td>
                                     <td>
                                        Percentage
                                     </td>
                                     <td>
                                        10%
                                     </td>
                                     <td>
                                        10 Days
                                     </td>
                                     <td>
                                        40%
                                     </td>
                                     <td>
                                         $3.00
                                     </td>
                                     <td>
                                         $2.00
                                      </td>
                          </tr>
                          <tr class="marginRow">
                                <td>
                                    5
                                </td>
                                 <td>
                                    Percentage
                                 </td>
                                 <td>
                                    50%
                                 </td>
                                 <td>
                                    5 Days
                                 </td>
                                 <td>
                                    30%
                                 </td>
                                 <td>
                                     $3.00
                                 </td>
                                 <td>
                                     $2.00
                                  </td>
                  
                      </tr>
                                      <!-- <tr *ngFor="let transactionDetail of transactionDetails; index as i" 
                                      [attr.data-index]="i" class="transactionsRow">
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td class="text-primary">
                                          </td> -->
                                      <!-- </tr> -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
  