th{
    color:#9c27b0 ;
    padding-left:0px;
}

td{
    border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
}
.download-image-span
{
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
}
.progress-bar-style
{
        margin-right: 15px;
    margin-left: 15px;
    width: auto;
}