
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
            </div>
            <div class="col-md-2">
                 <span>Download</span>    
                <span class="download-image-span">
                    <i class="material-icons" (click)="downloadCSV({ filename: 'booking-data.csv' },'top','right')">input</i>
                </span>
              </div>
      </div>
     
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger ">
                <h4 class="card-title">Booking </h4>
                <p class="card-category">Information</p>
           
        
            
          </div>
          <mat-progress-bar
          class="progress-bar-style"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue"  *ngIf="loading">
          </mat-progress-bar>
          <div class="card-body">
            <div  *ngIf="!loading">
            <div class="row row-style">
              <div class="col-md-2">
                <label>ID</label>
              </div>
              <div class="col-md-4">
                <label> 101 </label>
              </div>
              <div class="col-md-2">
                <label> Booking Id </label>
              </div>
              <div class="col-md-4">
                <label> BID-125468</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>User Id</label>
              </div>
              <div class="col-md-10">
                <label> UID-12</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>First Name</label>
              </div>
              <div class="col-md-4">
                <label> Edgar</label>
              </div>
              <div class="col-md-2">
                <label>Last Name</label>
              </div>
              <div class="col-md-4">
                <label> Poe</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Address</label>
              </div>
              <div class="col-md-10">
                <label> Miami street 7,USA</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Nationality</label>
              </div>
              <div class="col-md-10">
                <label>USA</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Email :</label>
              </div>
              <div class="col-md-10">
                <label> edgar@gsf.com </label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Google ID :</label>
              </div>
              <div class="col-md-10">
                <label>edgarPoe </label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 pr-0">
                <label>Facebook ID :</label>
              </div>
              <div class="col-md-10">
                <label>Edgar</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 mb-0">
                <label>Phone :</label>
              </div>
              <div class="col-md-10 mb-0">
                <label>12345678910</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 pr-0">
                <label> Wholeseller :</label>
              </div>
              <div class="col-md-10">
                <label>Angular Corpa.</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 mb-0">
                <label>Margin % :</label>
              </div>
              <div class="col-md-10 mb-0">
                <label>2%</label>
              </div>
            </div>
          </div>
          <div class="row row-style">
            <div class="col-md-2 mb-0">
              <label>Profit % :</label>
            </div>
            <div class="col-md-10 mb-0">
              <label>2%</label>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar" *ngIf="!loading">
            <!-- <a >
                              <img class="img" src="./assets/img/faces/marc.jpg" />
                          </a> -->
          </div>
          <div class="card-body" *ngIf="!loading">

            <br> <br>
            <h4 class="card-category text-gray">ID: {{ bookingId }}</h4>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!loading">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Booking  Data</h4>
            <p class="card-category"> Total trip information </p>
          </div>
          <div class="card-body row">
            <div class=" col-6 table-responsive">
              <table class="table">
                <tr>
                  <th>
                    Booking Code
                  </th>
                  <td>
                    {{ bookingId }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Booking Date
                  </th>
                  <td>
                   {{ booking_BookingDate }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Check In
                  </th>
                  <td>
                   {{ booking_CheckinData }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Check Out
                  </th>
                  <td>
                    25-01-2019
                  </td>
                </tr>
                <tr>
                  <th>
                    Hotel Code
                  </th>
                  <td>
                    20554
                  </td>
                </tr>
                <tr>
                  <th>
                    Destination Code
                  </th>
                  <td>
                    MI
                  </td>
                </tr>
                <tr>
                  <th>
                    Nationality of client
                  </th>
                  <td>
                    {{ booking_Nationality }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Pay At Hotel
                  </th>
                  <td>
                    True
                  </td>
                </tr>
                <tr>
                  <th>
                    Currency
                  </th>
                  <td>
                    USD
                  </td>
                </tr>
                <tr>
                  <th>
                    Meal Type(Code)
                  </th>
                  <td>
                    RO
                  </td>
                </tr>
                <tr>
                  <th>
                    Non Refundable
                  </th>
                  <td>
                    True
                  </td>
                </tr>
                <tr>
                  <th>
                    View
                  </th>
                  <td>
                    False
                  </td>
                </tr>
               

              </table>
            </div>
            <div class=" col-6 table-responsive">
              <table class="table">
                  <tr>
                      <th>
                        Policies( Days Remaining )
                      </th>
                      <td>
                        20
                      </td>
                    </tr>
                <tr>
                  <th>
                    Status
                  </th>
                  <td>
                    {{booking_BookingStatus}}       
                    </td>
                </tr>
                <tr>
                  <th>
                    Confirmation Number
                  </th>
                  <td>
                      164-3015081
                  </td>
                </tr>
                <tr>
                  <th>
                    Agency Ref Id.
                  </th>
                  <td>
                      test1234
                  </td>
                </tr>
                <tr>
                  <th>
                    Name
                  </th>
                  <td>
                   {{booking_FirstName}} {{booking_LastName}}
                  </td>
                </tr>
                <tr>
                  <th>
                      Room description
                  </th>
                  <td>
                      TWIN WITH SHARED BATHROOM
                  </td>
                </tr>
                <tr>
                  <th>
                      Room Type
                  </th>
                  <td>
                      TWN
                  </td>
                </tr>
                <tr>
                  <th>
                    Hotel Currency
                  </th>
                  <td>
                    USD
                  </td>
                </tr>
                <tr>
                  <th>
                      Hotel Price
                  </th>
                  <td>
                    $300
                  </td>
                </tr>
                <tr>
                  <th>
                    Minimum Selling Price
                  </th>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <th>
                    Hotel Confirmation Number 
                  </th>
                  <td>
                    TH5745688
                  </td>
                </tr>
                <tr>
                  <th>
                      Hotel Confirmation Number 
                  </th>
                  <td>
                   15-01-2019
                  </td>
                </tr>


              </table>
            </div>
          </div>
          <br>
          <div class="card-body row">
            <div class=" col-6 table-responsive">
              <label>Rooms </label>
              <table class="table">
                <tr>
                  <th>
                    Price
                  </th>
                  <td>
                    $500
                  </td>
                </tr>
                <tr>
                  <th>
                    Rooms
                  </th>
                  <td>
                    2
                  </td>
                </tr>
                <tr>
                  <th>
                    Children Ages
                  </th>
                  <td>
                    12
                  </td>
                </tr>
                <tr>
                  <th>
                    Adult Quantity
                  </th>
                  <td>
                    2
                  </td>
                </tr>
                <tr>
                  <th>
                    No of Nights
                  </th>
                  <td>
                    5
                  </td>
                </tr>
                <tr>
                    <th>
                      Room Type
                    </th>
                    <td>
                      SB
                    </td>
                  </tr>
                  
              </table>
            </div>
            <div class=" col-6 table-responsive">
              <label>Nightly Prices</label>
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Night 1
                  </th>
                  <th>
                    Night 2
                  </th>
                  <th>
                    Night 3
                  </th>
                  <th>
                    Night 4
                  </th>
                  <th>
                    Night 5
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      23.00
                    </td>
                    <td>
                      23.00
                    </td>
                    <td>
                      23.00
                    </td>
                    <td>
                      23.00
                    </td>
                    <td>
                      23.00
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="card-body row">
            <div class=" col-12 table-responsive">
              <label>Taxes</label>
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Currency
                  </th>
                  <th>
                    Ammount
                  </th>
                  <th>
                    Type
                  </th>
                  <th>
                    Detail
                  </th>
                  <th>
                    Inclusive
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      USD
                    </td>
                    <td>
                      5.00
                    </td>
                    <td>
                      VAT
                    </td>
                    <td>
                      Example data
                    </td>
                    <td>
                      True
                    </td>
                  </tr>
                  <tr>
                    <td>
                      USD
                    </td>
                    <td>
                      6.00
                    </td>
                    <td>
                      City Tax
                    </td>
                    <td>
                      Example data
                    </td>
                    <td>
                      True
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>