

<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Travellers</h4>
           
            </div>
            <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue"  *ngIf="loading">
            </mat-progress-bar>
            <div class="row" *ngIf="!loading">
                  <div class="col-md-9 "></div>
                  <form class="navbar-form col-md-3 ">
                          <div class="input-group no-border">
                              <input type="text" value="" class="form-control" placeholder="Search...">
                              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                  <i class="material-icons">search</i>
                                  <div class="ripple-container"></div>
                              </button>
                          </div>
                      </form>
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                         User Id
                                      </th>
                                      <th>
                                         First Name
                                      </th>
                                      <th>
                                          Last Name
                                      </th>
                                      <th>
                                          Email
                                      </th>
                                      <th>
                                          Phone
                                       </th>
                                       <th>
                                          Age
                                       </th>
                                       <th>
                                           Nationality
                                       </th>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let traveller of travellers; index as i" [attr.data-index]="i" class="transactionsRow">
                                       <td>
                                          {{traveller.Id}}
                                       </td>
                                       <td>
                                            User- {{traveller.UserId}}
                                       </td>
                                       <td>
                                          {{traveller.FirstName}}
                                       </td>
                                       <td>
                                             {{traveller.LastName}}
                                       </td>
                                       <td>
                                             {{traveller.Email}}
                                       </td>
                                       <td>
                                             {{traveller.Phone}}
                                       </td>
                                       <td>
                                             {{traveller.Age}}
                                       </td>
                                       <td class="text-primary">
                                          {{traveller.Nationality}}
                                       </td> 
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
  