

<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Travellers</h4>
           
            </div>
            <div class="row">
                  <div class="col-md-9 "></div>
                  <form class="navbar-form col-md-3 ">
                          <div class="input-group no-border">
                              <input type="text" value="" class="form-control" placeholder="Search...">
                              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                  <i class="material-icons">search</i>
                                  <div class="ripple-container"></div>
                              </button>
                          </div>
                      </form>
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                         User Id
                                      </th>
                                      <th>
                                         First Name
                                      </th>
                                      <th>
                                          Last Name
                                      </th>
                                      <th>
                                          Email
                                      </th>
                                      <th>
                                          Phone
                                       </th>
                                       <th>
                                          Age
                                       </th>
                                       <th>
                                           Nationality
                                       </th>
                                  </thead>
                                  <tbody>
                                      <tr class="travellersRow" >
                                                <td>
                                                   1
                                                </td>
                                                <td>
                                                   UID-55
                                                </td>
                                                <td>
                                                   David
                                                </td>
                                                <td>
                                                   Johnson
                                                </td>
                                                <td>
                                                   davjohnson@xyz.com
                                                </td>
                                                <td>
                                                   1234567890
                                                </td>
                                                <td>
                                                   25
                                                   </td>
                                                <td>
                                                  UK
                                                 </td>
                                                
                                  
                                      </tr>
                                      <tr class="travellersRow">
                                            <td>
                                              2
                                            </td>
                                             <td>
                                                UID-56
                                             </td>
                                             <td>
                                                Eric
                                             </td>
                                             <td>
                                                Johnes
                                             </td>
                                             <td>
                                                johnes.eric@xyz.com
                                             </td>
                                             <td>
                                                8954567890
                                             </td>
                                             <td>
                                                55
                                               </td>
                                             <td>
                                               USA
                                              </td>
                                  </tr>
                                  <tr class="travellersRow">
                                        <td>
                                            3
                                        </td>
                                      
                                        <td>
                                            UID-57
                                         </td>
                                         <td>
                                            Bill
                                         </td>
                                         <td>
                                            Skarsgard
                                         </td>
                                         <td>
                                            skarsgard.bill@xyz.com
                                         </td>
                                         <td>
                                            4054567890
                                         </td>
                                         <td>
                                            40
                                           </td>
                                         <td>
                                           Sweden
                                          </td>
                          
                              </tr>
                              <tr class="travellersRow">
                                    <td>
                                       4
                                    </td>
                                    <td>
                                        UID-58
                                     </td>
                                     <td>
                                        Ram
                                     </td>
                                     <td>
                                        Sampat
                                     </td>
                                     <td>
                                        ramsampat@xyz.com
                                     </td>
                                     <td>
                                        1685567890
                                     </td>
                                     <td>
                                        60
                                       </td>
                                     <td>
                                       Canada
                                      </td>
                                     
                          </tr>
                          <tr class="travellersRow">
                                <td>
                                    5
                                </td>
                                <td>
                                    UID-58
                                 </td>
                                 <td>
                                    Elizeh
                                 </td>
                                 <td>
                                    Sheikh
                                 </td>
                                 <td>
                                    elisheikh@xyz.com
                                 </td>
                                 <td>
                                    4586567890
                                 </td>
                                 <td>
                                    45
                                   </td>
                                 <td>
                                   Turkey
                                  </td>
                  
                      </tr>
                                      <!-- <tr *ngFor="let transactionDetail of transactionDetails; index as i" 
                                      [attr.data-index]="i" class="transactionsRow">
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td class="text-primary">
                                          </td> -->
                                      <!-- </tr> -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
  