
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger row" >
                    <ul class="col-11 mb-0 pr-0 pl-0">
                        <h4 class="card-title ">Bookings Table</h4>
                    </ul>
                </div>
                <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue"  *ngIf="loading">
            </mat-progress-bar>
            <div class="row"  *ngIf="!loading" >
                    <div class="col-md-9 "></div>
                    <form class="navbar-form col-md-3 ">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>

                                            Sr.
                                        </th>
                                        <th>
                                            Booking Id
                                        </th>
                                        <th>
                                            Booking Date
                                        </th>
                                        <th>
                                               Checkin Date
                                        </th>
                                        <th>
                                            User Id
                                        </th>

                                        <th>
                                                Cost
                                        </th>
                                       
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let booking of bookings; index as i" [attr.data-index]="i" (click)="ToBookingDetails(booking.BookingId)"
                                            class="bookingRow">
                                            <td>
                                                <a>
                                                    {{ booking.$id }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ booking.BookingId }}
                                            </td>
                                            <td>
                                                {{ booking.BookingDate }}
                                            </td>

                                            <td>
                                                {{ booking.CheckinData }}
                                            </td>
                                            <td>
                                                {{ booking.User.Id }}
                                            </td>
                                            <td class="text-primary">
                                                ${{ booking.Cost }}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
