<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Products</h4>
                        <p class="card-category">All the products </p>
                    </div>
                   
                    <div class="card-body" >
                            <div class="row row-style">
                             <div class="col-md-2">
                                            <label >ID</label>
                             </div>
                             <div class="col-md-4" >
                                            <label >{{ productId }}</label>
                             </div>
                             <div class="col-md-2">
                                            <label >ASIN</label>
                             </div>
                             <div class="col-md-4">
                                            <label >{{ productASIN }}</label>
                             </div>
                            </div>
                            <div class="row row-style">
                                <div class="col-md-2">
                                               <label >Item Code</label>
                                </div>
                                <div class="col-md-10">
                                               <label >{{ productItemCode }}</label>
                                </div>
 
                               </div>


                               <div class="row row-style">
                                  <div class="col-md-2">
                                      <label > Name</label>
                                  </div>
                                  <div class="col-md-10">
                                            <label >{{ productName }}</label>
                                        </div>
                               </div>
                            <div class="row row-style" >
                       
                                <div class="col-md-2">
                                        <label >Contents</label>
                                </div>
                                <div class="col-md-10">
                                              <label >{{ productContents }} </label>
                                      </div>
                            </div>
                            <div class="row row-style" >
                                    <div class="col-md-2">
                                            <label >MRP</label>
                             </div>
                             <div class="col-md-10">
                                            <label > ₹ {{ productMrp }}</label>
                             </div>

                             </div>
                             <div class="row " >
                                    <div class="col-md-2">
                                            <label >Bullets</label>
                             </div>
                             <div class="col-md-10">
                                            <label >{{ productData1 }} </label>
                             </div>

                             </div>
                             <div class="row " >
                                    <div class="col-md-2">
                                            <label >Bullets</label>
                             </div>
                             <div class="col-md-10">
                                            <label >{{ productData2 }}</label>
                             </div>

                             </div><div class="row " >
                                    <div class="col-md-2">
                                            <label >Bullets</label>
                             </div>
                             <div class="col-md-10">
                                            <label > {{ productData3 }}</label>
                             </div>

                             </div><div class="row " >
                                    <div class="col-md-2">
                                            <label >Bullets</label>
                             </div>
                             <div class="col-md-10">
                                            <label >{{ productData4 }}</label>
                             </div>

                             </div><div class="row " >
                                    <div class="col-md-2">
                                            <label >Bullets</label>
                             </div>
                             <div class="col-md-10">
                                            <label >{{ productData5 }}</label>
                             </div>

                             </div><div class="row " >
                                    <div class="col-md-2">
                                            <label >Bullets</label>
                             </div>
                             <div class="col-md-10">
                                            <label >{{ productData6 }}</label>
                             </div>

                             </div>
       

                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a >
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">ID: {{ productId }} </h6>
                        <h4 class="card-title">   {{ productName }}</h4>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Image List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <!-- <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            1
                                        </th>
                                        <th>
                                            Order No.
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Product Id
                                        </th>
                                        <th>
                                            Billing Address
                                        </th>
                                        <th>
                                            Shipping Address
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf(product)>
                                            <td>
                                                OID-4151561555
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                23-12-2018
                                            </td>
                                            <td>
                                                TG45S5646
                                            </td>
                                            <td class="text-primary">
                                                Sydney
                                            </td>
                                            <td class="text-primary">
                                                    New York
                                            </td>
                                            <td class="text-primary">
                                                   Shipped
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  </div>
  
     
