

<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Transactions</h4>
           
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <!-- <div class="card-header card-header-danger">
                          <h4 class="card-title ">Total Transaction Details</h4>
                          <p class="card-category">Here all the Voucher transaction details are added</p>
                      </div> -->
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                          Code
                                      </th>
                                      <th>
                                          Account Number
                                      </th>
                                      <th>
                                          Program Code
                                      </th>
                                      <th>
                                          Merchant Code
                                      </th>
                                      <th>
                                          Shop Code
                                      </th>
                                      <th>
                                          Ammount
                                      </th>
                                      <th>
                                         Terminal SSW
                                      </th>
                                      <th>
                                          Channel
                                      </th>
                                      <th>
                                          Order Id
                                      </th>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let transactionDetail of transactionDetails; index as i" 
                                      [attr.data-index]="i" class="transactionsRow">
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td>
                                          </td>
                                          <td class="text-primary">
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
  