.example-card
{
    margin-top: 150px;
}
.example-form
{
    padding-left: 40px;
    padding-right: 40px;

}
.example-full-width
{
    width: 100%;
}
.mat-card-header .mat-card-title {
    margin-bottom: 40px;
}
.login-parent
{
    margin-bottom: 15px;
}
