
<div class="row ml-0 mr-0">
    <ul class="col-4"></ul>
    <ul class="col-4">
       
  <mat-card class="example-card">
      
    <mat-card-header>
      <mat-card-title class="login-main-header" >Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Email"  name="email" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput formControlName="password" placeholder="Password" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="login-parent row">
        <ul class="col"></ul>
        <ul class="col-3">
          <button mat-raised-button (click)="login()" color="primary" class="login-button">Login</button>
        </ul>
        <ul class="col"></ul>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value"
      [bufferValue]="bufferValue" *ngIf="loading" class="progress-bar-style" >
  </mat-progress-bar>
</ul>
  <ul class="col-4"></ul>

</div>
