<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Trip </h4>
            <p class="card-category">Information</p>
          </div>
          <div class="card-body">
            <div class="row row-style">
              <div class="col-md-2">
                <label>ID</label>
              </div>
              <div class="col-md-4">
                <label> 101 </label>
              </div>
              <div class="col-md-2">
                <label> Booking Id </label>
              </div>
              <div class="col-md-4">
                <label> BID-125468</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>User Id</label>
              </div>
              <div class="col-md-10">
                <label> UID-12</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>First Name</label>
              </div>
              <div class="col-md-4">
                <label> Edgar</label>
              </div>
              <div class="col-md-2">
                <label>Last Name</label>
              </div>
              <div class="col-md-4">
                <label> Poe</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Address</label>
              </div>
              <div class="col-md-10">
                <label> Miami street 7,USA</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Nationality</label>
              </div>
              <div class="col-md-10">
                <label>USA</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Email :</label>
              </div>
              <div class="col-md-10">
                <label> edgar@gsf.com </label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Google ID :</label>
              </div>
              <div class="col-md-10">
                <label>edgarPoe </label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 pr-0">
                <label>Facebook ID :</label>
              </div>
              <div class="col-md-10">
                <label>Edgar</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 mb-0">
                <label>Phone :</label>
              </div>
              <div class="col-md-10 mb-0">
                <label>12345678910</label>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a >
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a> -->
          </div>
          <div class="card-body">
            
          <br>  <br>  
            <h4 class="card-category text-gray">ID: 101</h4>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Trip Data</h4>
            <p class="card-category"> Total trip information </p>
          </div>
          <div class="card-body">
            <div class="row row-style">
              <div class="col-md-2">
                <label>Trip ID :</label>
              </div>
              <div class="col-md-10">
                <label>TID-101 </label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 pr-0">
                <label>Destination City:</label>
              </div>
              <div class="col-md-10">
                <label>Miami Beach</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2 mb-0">
                <label>Destination State :</label>
              </div>
              <div class="col-md-10 mb-0">
                <label>Miami</label>
              </div>
            </div>
            <div class="row row-style">
              <div class="col-md-2">
                <label>Destination Country :</label>
              </div>
              <div class="col-md-10">
                <label>USA </label>
              </div>
            </div>
     
          <div class="row row-style">
            <div class="col-md-2 mb-0">
              <label>Hotel Name :</label>
            </div>
            <div class="col-md-10 mb-0">
              <label>Four Points of Sheraton</label>
            </div>
          </div>
          <div class="row row-style">
            <div class="col-md-2 pr-0">
              <label>Check In :</label>
            </div>
            <div class="col-md-10">
              <label>12-10-2018</label>
            </div>
          </div>
          <div class="row row-style">
            <div class="col-md-2">
              <label>Check Out :</label>
            </div>
            <div class="col-md-10">
              <label>18-10-2018 </label>
            </div>
          </div>
          <div class="row row-style">
              <div class="col-md-2">
                <label>No of Adults :</label>
              </div>
              <div class="col-md-10">
                <label>2</label>
              </div>
            </div>
            <div class="row row-style">
                <div class="col-md-2">
                  <label>No of Children :</label>
                </div>
                <div class="col-md-10">
                  <label>2</label>
                </div>
              </div>
              <div class="row row-style">
                  <div class="col-md-2">
                    <label>Age of Child 1 :</label>
                  </div>
                  <div class="col-md-10">
                    <label>2</label>
                  </div>
                </div>
                <div class="row row-style">
                    <div class="col-md-2">
                      <label>Age of Child 2 :</label>
                    </div>
                    <div class="col-md-10">
                      <label>10</label>
                    </div>
                  </div>
                  <div class="row row-style">
                      <div class="col-md-2">
                        <label>Age of Child 3 :</label>
                      </div>
                      <div class="col-md-10">
                        <label>NULL</label>
                      </div>
                    </div>
                    <div class="row row-style">
                        <div class="col-md-2">
                          <label>Age of Child 4 :</label>
                        </div>
                        <div class="col-md-10">
                          <label>NULL</label>
                        </div>
                      </div>
                      <div class="row row-style">
                          <div class="col-md-2">
                            <label>Age of Child 5:</label>
                          </div>
                          <div class="col-md-10">
                            <label>NULL</label>
                          </div>
                        </div>
                        <div class="row row-style">
                            <div class="col-md-2">
                              <label>Age of Child 6 :</label>
                            </div>
                            <div class="col-md-10">
                              <label>NULL</label>
                            </div>
                          </div>
                          <br>
                          <div class="row row-style">
                              <div class="col-md-12">
                                <label>Guest 1 Details</label>
                              </div>
                              <div class="col-md-2">
                                  <label>First Name:</label>
                                </div>
                              <div class="col-md-4">
                                <label>Allen</label>
                              </div>
                              <div class="col-md-2">
                                  <label>Last Name:</label>
                                </div>
                              <div class="col-md-4">
                                <label>Poe</label>
                              </div>
                            </div>
                            <br>
                          <div class="row row-style">
                              <div class="col-md-12">
                                <label>Guest 2 Details</label>
                              </div>
                              <div class="col-md-2">
                                  <label>First Name:</label>
                                </div>
                              <div class="col-md-4">
                                <label>Merida</label>
                              </div>
                              <div class="col-md-2">
                                  <label>Last Name:</label>
                                </div>
                              <div class="col-md-4">
                                <label>Poe</label>
                              </div>
                            </div>
                            <br>
                            <div class="row row-style">
                                <div class="col-md-12">
                                  <label>Child 1 Details</label>
                                </div>
                                <div class="col-md-2">
                                    <label>First Name:</label>
                                  </div>
                                <div class="col-md-4">
                                  <label>Merida</label>
                                </div>
                                <div class="col-md-2">
                                    <label>Last Name:</label>
                                  </div>
                                <div class="col-md-4">
                                  <label>Poe</label>
                                </div>
                              </div>
                              <br>
                              <div class="row row-style">
                                  <div class="col-md-12">
                                    <label>Child 2 Details</label>
                                  </div>
                                  <div class="col-md-2">
                                      <label>First Name:</label>
                                    </div>
                                  <div class="col-md-4">
                                    <label>Merida</label>
                                  </div>
                                  <div class="col-md-2">
                                      <label>Last Name:</label>
                                    </div>
                                  <div class="col-md-4">
                                    <label>Poe</label>
                                  </div>
                                </div>

                                <br>
                                  <div class="row row-style">
                                      <div class="col-md-12">
                                        <label>Child 3 Details</label>
                                      </div>
                                      <div class="col-md-2">
                                          <label>First Name:</label>
                                        </div>
                                      <div class="col-md-4">
                                        <label>NULL</label>
                                      </div>
                                      <div class="col-md-2">
                                          <label>Last Name:</label>
                                        </div>
                                      <div class="col-md-4">
                                        <label>NULL</label>
                                      </div>
                                    </div>
                                    <br>
                                    <div class="row row-style">
                                        <div class="col-md-12">
                                          <label>Child 4 Details</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>First Name:</label>
                                          </div>
                                        <div class="col-md-4">
                                          <label>NULL</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Last Name:</label>
                                          </div>
                                        <div class="col-md-4">
                                          <label>NULL</label>
                                        </div>
                                      </div>
                                      <br>
                                      <div class="row row-style">
                                          <div class="col-md-12">
                                            <label>Child 5 Details</label>
                                          </div>
                                          <div class="col-md-2">
                                              <label>First Name:</label>
                                            </div>
                                          <div class="col-md-4">
                                            <label>NULL</label>
                                          </div>
                                          <div class="col-md-2">
                                              <label>Last Name:</label>
                                            </div>
                                          <div class="col-md-4">
                                            <label>NULL</label>
                                          </div>
                                        </div>
                                        <br>
                                      <div class="row row-style">
                                          <div class="col-md-12">
                                            <label>Child 6 Details</label>
                                          </div>
                                          <div class="col-md-2">
                                              <label>First Name:</label>
                                            </div>
                                          <div class="col-md-4">
                                            <label>NULL</label>
                                          </div>
                                          <div class="col-md-2">
                                              <label>Last Name:</label>
                                            </div>
                                          <div class="col-md-4">
                                            <label>NULL</label>
                                          </div>
                                        </div>
                            <div class="row row-style">
                                <div class="col-md-2">
                                  <label>Card Details :</label>
                                </div>
                                <div class="col-md-10">
                                  <label>NULL</label>
                                </div>
                              </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>