<div class="main-content">
  <div class="container-fluid">
      <!-- <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Used Space</p>
                      <h3 class="card-title">49/50
                          <small>GB</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="#pablo">Get More Space...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Revenue</p>
                      <h3 class="card-title">$34,245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Fixed Issues</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Bookings.</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today's bookings.</p>
                  </div>
        
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Used Vouchers</h4>
                      <p class="card-category">Last Used Voucher</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> voucher used 2 min ago
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
      <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Latest Bookings</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                                <table class="table">
                                        <thead class=" text-primary">
                                            <th>
    
                                                ID
                                            </th>
                                            <th>
                                                Booking Id
                                            </th>
                                            <th>
                                                Booking Date
                                            </th>
                                            <th>
                                                   Destination 
                                            </th>
                                            <th>
                                                User Id
                                            </th>
    
                                            <th>
                                               Trip Id
                                            </th>
                                           
                                        </thead>
                                        <tbody>
                                            <!-- <tr *ngFor="let booking of bookings ; index as i" [attr.data-index]="i" (click)="TobookingDetails(booking.$id ,booking.ASIN)"
                                                class="productRow">
                                                <td>
                                                    <a (click)="ToProductDetails(product.$id)">
                                                        {{ product.$id }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ product.ASIN }}
                                                </td>
                                                <td>
                                                    {{ product.Name }}
                                                </td>
    
                                                <td>
                                                    {{ product.ItemCode }}
                                                </td>
                                                <td>
                                                    {{ product.Contents }}
                                                </td>
                                                <td class="text-primary">
                                                    {{ product.MRP }}
                                                </td>
    
                                            </tr> -->
                                          <tr  class="bookingRow" (click)="ToBookingDetails()">
                                            <td>
                                                1
                                            </td>
                                            <td>
                                               BID-101
                                            </td>
                                            <td>
                                               31-12-2018
                                            </td>
    
                                            <td>
                                                Mexico
                                            </td>
                                            <td>
                                                UID-1005
                                            </td>
                                            <td>
                                                   TID-45862520
                                            </td>
                                          </tr>
                                          <tr  class="bookingRow">
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                   BID-102
                                                </td>
                                                <td>
                                                   25-12-2018
                                                </td>
        
                                                <td>
                                                    San Fransisco
                                                </td>
                                                <td>
                                                    UID-1095
                                                </td>
                                                <td>
                                                       TID-4582520
                                                </td>
                                              </tr>
                                              <tr  class="bookingRow">
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                       BID-105
                                                    </td>
                                                    <td>
                                                       5-11-2018
                                                    </td>
            
                                                    <td>
                                                        Las Vegas
                                                    </td>
                                                    <td>
                                                        UID-1001
                                                    </td>
                                                    <td>
                                                           TID-45862654  
                                                    </td>
                                                  </tr>
                                                  <tr  class="bookingRow">
                                                        <td>
                                                            4
                                                        </td>
                                                        <td>
                                                           BID-104
                                                        </td>
                                                        <td>
                                                           26-12-2018
                                                        </td>
                
                                                        <td>
                                                            London
                                                        </td>
                                                        <td>
                                                            UID-1055
                                                        </td>
                                                        <td>
                                                               TID-10022520
                                                        </td>
                                                      </tr>
                                                      <tr  class="bookingRow">
                                                            <td>
                                                                5
                                                            </td>
                                                            <td>
                                                               BID-1010
                                                            </td>
                                                            <td>
                                                               29-12-2018
                                                            </td>
                    
                                                            <td>
                                                                Paris
                                                            </td>
                                                            <td>
                                                                UID-1015
                                                            </td>
                                                            <td>
                                                                   TID-985020
                                                            </td>
                                                          </tr>
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Top charts:</span>
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                          <!-- <i class="material-icons">bug_report</i>  -->
                                          Destinations
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                          <!-- <i class="material-icons">code</i>  -->
                                          Users
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                          <!-- <i class="material-icons">cloud</i>  -->
                                          Bookings
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>Dest. Code</th>
                                        <th>City</th>
                                        <th>Country</th>
                                        <th>Bookings count</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67H</td>
                                            <td>Miami</td>
                                            <td>USA</td>
                                            <td>100</td>
                                            
                                        </tr>
                                        <tr>
                                                <td>87H</td>
                                                <td>Texas</td>
                                                <td>USA</td>
                                                <td>89</td>
                                        </tr>
                                        <tr>
                                                <td>62Y</td>
                                                <td>Paris</td>
                                                <td>France</td>
                                                <td>88</td>
                                        </tr>
                                        <tr>
                                                <td>56R</td>
                                                <td>Tokyo</td>
                                                <td>JApan</td>
                                                <td>87</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </div>
                          <div class="tab-pane" id="messages">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Country</th>
                                        <th>Email</th>
                                        <th>Order Id</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Dakota Rice</td>
                                            <td>Niger</td>
                                            <td>Dakota@gmai.com</td>
                                            <td>564248454</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Minerva Hooper</td>
                                            <td>Curaçao</td>
                                            <td>Minerva@yahoo.co.in</td>
                                            <td>5520148454</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sage Rodriguez</td>
                                            <td>Netherlands</td>
                                            <td>sage@gmail.com</td>
                                            <td>875948454</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Philip Chaney</td>
                                            <td>Korea, South</td>
                                            <td>phillip@gmail.com</td>
                                            <td>698748454</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </div>
                          <div class="tab-pane" id="settings">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                            <th>

                                                    ID
                                                </th>
                                                <th>
                                                    Booking Id
                                                </th>
                                                <th>
                                                    Booking Date
                                                </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1456</td>
                                            <td>8759546</td>
                                            <td>10-12-2018</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>8556</td>
                                            <td>1029546</td>
                                            <td>01-01-2019</td>
                                        </tr>
                                        <tr>
                                            <td>9056</td>
                                            <td>8509546</td>
                                            <td>10-01-2019</td>
                                        </tr>
                                        <tr>
                                            <td>9080</td>
                                            <td>8759475</td>
                                            <td>12-01-2019</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Latest Users</h4>
                      <p class="card-category">New registrations on 12th January, 2019</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Country</th>
                              <th>Email</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Dakota Rice</td>
                                  <td>Niger</td>
                                  <td>Dakota@gmai.com</td>
                                  
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Minerva Hooper</td>
                                  <td>Curaçao</td>
                                  <td>Minerva@yahoo.co.in</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Sage Rodriguez</td>
                                  <td>Netherlands</td>
                                  <td>sage@gmail.com</td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>Philip Chaney</td>
                                  <td>Korea, South</td>
                                  <td>phillip@gmail.com</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
