<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Orders </h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Total Order Details</h4>
                            <p class="card-category">Here all the orders are added</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Order No.
                                        </th>
                                        <th>
                                            User Id
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Product Id
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let orderDetail of orderDetails; index as i" [attr.data-index]="i" 
                                        class="ordersRow">
                                            <td>
                                                {{ orderDetail.$id }}
                                            </td>
                                            <td>
                                              {{ orderDetail.OrderNumber }}                                           
                                            </td>
                                            <td>
                                                {{ orderDetail.User.$id }}                                            
                                            </td>
                                            <td>
                                                {{ orderDetail.Date }}                                            
                                            </td>
                                            <td>
                                                {{ orderDetail.ProductId }}
                                            </td>
                                            <td class="text-primary">
                                                {{ orderDetail.Status }}                                            
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  