<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger row" >
                <ul class="col-11 mb-0 pr-0 pl-0">
                    <h4 class="card-title ">User List</h4>
                    <p class="card-category"> Total registrered users!</p>
                </ul>
                <ul class="col-1 mb-0 pr-0 pl-0">
                </ul>    
            </div>
            <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue"  *ngIf="loading">
            </mat-progress-bar>
            <div class="row" *ngIf="!loading" >
                    <div class="col-md-9 "></div>
                    <form class="navbar-form col-md-3 ">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            First Name
                                        </th>
                                        <th>
                                            Last Name
                                        </th>
                                        
                                        <th>
                                                Email
                                        </th>
                                        <th>
                                            Nationality
                                        </th>
                                        <th>
                                            Total number Of Trips
                                        </th>
                                    </thead>
                                    <tbody>
                                        <!-- <tr  class="usersRow">
                                            <td>
                                                 UID-10001
                                            </td>
                                            <td>
                                                 Samantha
                                            </td>
                                            <td>
                                               Brown
                                            </td>
                                            <td>
                                                 25-11-1975
                                            </td>
                                            <td>
                                                Lithuania
                                            </td>
                                            <td>
                                                samantha@xvy.com
                                            </td>
                                            <td class="text-primary">
                                                10
                                            </td>
                                        </tr>
                                        <tr  class="usersRow">
                                                <td>
                                                     UID-10001
                                                </td>
                                                <td>
                                                     Samantha
                                                </td>
                                                <td>
                                                   Brown
                                                </td>
                                                <td>
                                                     25-11-1975
                                                </td>
                                                <td>
                                                    Lithuania
                                                </td>
                                                <td>
                                                    samantha@xvy.com
                                                </td>
                                                <td class="text-primary">
                                                    10
                                                </td>
                                            </tr>
                                            <tr  class="usersRow">
                                                    <td>
                                                         UID-10002
                                                    </td>
                                                    <td>
                                                         Chris
                                                    </td>
                                                    <td>
                                                       Tailor
                                                    </td>
                                                    <td>
                                                         14-8-1985
                                                    </td>
                                                    <td>
                                                        Denmark
                                                    </td>
                                                    <td>
                                                        ctailor@xvy.com
                                                    </td>
                                                    <td class="text-primary">
                                                        1
                                                    </td>
                                                </tr>
                                                <tr  class="usersRow">
                                                        <td>
                                                             UID-10003
                                                        </td>
                                                        <td>
                                                             Lee 
                                                        </td>
                                                        <td>
                                                           Jong-suk
                                                        </td>
                                                        <td>
                                                             25-11-1995
                                                        </td>
                                                        <td>
                                                            South Korea
                                                        </td>
                                                        <td>
                                                            ljsuk@xvy.com
                                                        </td>
                                                        <td class="text-primary">
                                                            4
                                                        </td>
                                                    </tr>
                                                    <tr  class="usersRow">
                                                            <td>
                                                                 UID-10004
                                                            </td>
                                                            <td>
                                                                 Bharadwaj
                                                            </td>
                                                            <td>
                                                               Sinha
                                                            </td>
                                                            <td>
                                                                 25-11-1965
                                                            </td>
                                                            <td>
                                                                Mexico
                                                            </td>
                                                            <td>
                                                                sinhaBhar@xvy.com
                                                            </td>
                                                            <td class="text-primary">
                                                                30
                                                            </td>
                                                        </tr> -->
                                         <tr *ngFor="let user of users ; index as i" [attr.data-index]="i"
                                          (click)=" toProfile(user.Id) "  class="usersRow">
                                            <td>
                                                {{ user.Id }}
                                            </td>
                                            <td>
                                                {{ user.FirstName }}
                                            </td>
                                            <td>
                                                {{ user.LastName }}
                                            </td>
                                           
                                            <td>
                                                {{ user.Email }}
                                            </td>
                                            <td>
                                                {{ user.Nationality }}
                                            </td>
                                            <td class="text-primary">
                                                {{ this.totalOrders }}
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>
